fastapi
uvicorn[standard]
python-multipart
requests
pillow
opencv-python-headless
deepface
torch
torchaudio
transformers
sentence-transformers
openai-whisper
faiss-cpu
moviepy
scikit-learn
tqdm
aiohttp
nest_asyncio
beautifulsoup4
selenium
langchain
duckduckgo-search
httpx
pydantic
numpy
scipy
retrying
bs4
fake-useragent
yt-dlp
PyYAML
trafilatura
unstructured
llama-index
gitpython
python-dotenv
